{{ if .Site.Params.post_navigation }}
{{ if or (.PrevInSection) (.NextInSection) }}
	<nav class="mr-post-nav mr-row clearfix" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
		{{ if .PrevInSection }}
		<div class="mr-col-1-2 mr-post-nav-item mr-post-nav-prev">
			<a href="{{.PrevInSection.Permalink}}" rel="prev"><span>«Previous</span><p>{{.PrevInSection.Title}}</p></a>
		</div>
		{{ end }}
		{{ if .NextInSection }}
		<div class="mr-col-1-2 mr-post-nav-item mr-post-nav-next">
			<a href="{{.NextInSection.Permalink}}" rel="next"><span>Next»</span><p>{{.NextInSection.Title}}</p></a>
		</div>
		{{ end }}
	</nav>
{{ end }}
{{ end }}
